body {
    background-color: #999;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    align-items: center;
}

div {
    width: 50em;
    margin: 10em;
}

input[type=text] {
    padding: .5em;
}

input[type=submit] {
    padding: .48em .5em;
    background: #ccc;
    margin: 1vh;
    cursor: pointer;
}

h6 {
    margin: 5vh;
    text-align: center;
    color: white;
    }
    